<div class="content" id="accordion">
<h4>Accordion Menu 实例：</h4>
<div class="accordion" data-toggle="accordion" style="width:300px;">
    <button type="button" class="btn adn-more showup">
        <span class="icon-dashboard size24"></span>
        新闻
    </button>
    <div>
        <a href="javascript:;" class="btn">新照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
        <button type="button" class="btn adn-more">图片</button>
        <div>
            <a href="javascript:;" class="btn">新照片</a>
            <a href="javascript:;" class="btn">旧照片</a>
            <a href="javascript:;" class="btn">旧照片</a>
            <a href="javascript:;" class="btn">旧照片</a>
            <a href="javascript:;" class="btn">旧照片</a>
            <a href="javascript:;" class="btn">旧照片</a>
            <a href="javascript:;" class="btn">旧照片</a>
        </div>
    </div>
    <button type="button" class="btn adn-more">
        新闻
        <span class="badge">99</span>
    </button>
    <div>
        <a href="javascript:;" class="btn">新照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
        <a href="javascript:;" class="btn">旧照片</a>
    </div>
</div>
<h5>HTML</h5>
<xmp>
````
<div class="accordion" data-toggle="accordion">
    <a href="javascript:;" class="btn adn-more"> ... </a>
    <div>
        <a href="javascript:;" class="btn"> ... </a>
    </div>
</div>
````
</xmp>
<h5>通过 JavaScript 调用</h5>
<xmp>
````
$el.accordion();
````
</xmp>
</div>
