<div class="content" id="checkbox">
<h4>Checkbox & Radio</h4>
<form>
    <label class="checkbox">
        <input type="checkbox" required checked>
        <span class="ck-indicator"></span>
        <span class="ck-description">Pasta</span>
    </label>
    <label class="checkbox">
        <input type="checkbox" required>
        <span class="ck-indicator"></span>
        <span class="ck-description">Pasta</span>
    </label>
    <label class="checkbox disabled">
        <input type="checkbox" checked>
        <span class="ck-indicator"></span>
        <span class="ck-description">Pasta</span>
    </label>
    <label class="checkbox disabled">
        <input type="checkbox" required>
        <span class="ck-indicator"></span>
        <span class="ck-description">Pasta</span>
    </label>
    <hr>
    <label class="radio">
        <input type="radio" name="ck" checked>
        <span class="ck-indicator"></span>
        <span class="ck-description">Pasta</span>
    </label>
    <label class="radio">
        <input type="radio" name="ck">
        <span class="ck-indicator"></span>
        <span class="ck-description">Pasta</span>
    </label>
    <label class="radio disabled">
        <input type="radio" name="ck1" checked>
        <span class="ck-indicator"></span>
        <span class="ck-description">Pasta</span>
    </label>
    <label class="radio disabled">
        <input type="radio" name="ck1">
        <span class="ck-indicator"></span>
        <span class="ck-description">Pasta</span>
    </label>
</form>
<h5>HTML</h5>
<xmp>
````
<label class="checkbox | radio">
    <input type="checkbox | radio" value="" name="name">
    <span class="ck-indicator"></span>
    <span class="ck-description">Pasta</span>
</label>
````
</xmp>
</div>
