<div class="content" id="dropmenu">
<h4>Dropmenu 实例：</h4>
<div class="dropmenu" data-toggle="dropmenu">
    <button type="button" class="btn primary">
        Dr.Who
        <span class="badge">3</span>
    </button>
    <div>
        <ul>
            <li>
                <a href="javascript:;" class="btn fullwidth text-left">个人中心</a>
            </li>
            <li>
                <a href="javascript:;" class="btn fullwidth text-left">设置</a>
            </li>
            <li>
                <a href="javascript:;" class="btn fullwidth text-left">
                    信息
                    <span class="badge">5</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="btn fullwidth text-left">登出</a>
            </li>
        </ul>
    </div>
</div>
<div class="dropmenu" data-toggle="dropmenu" data-direction="right">
    <button type="button" class="btn primary arrow">Dropmenu right</button>
    <div class="msg">
        <img src="../../img/avater.jpg" alt="">
        <span class="cotn">
            <span class="headline">George Clooney</span>
        <span class="text">
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw
            </span>
        </span>
    </div>
</div>
<div class="dropmenu" data-toggle="dropmenu" data-direction="left">
    <button type="button" class="btn primary">Dropmenu Left</button>
    <div class="msg">
        <img src="../../img/avater.jpg" alt="">
        <span class="cotn">
            <span class="headline">George Clooney</span>
        <span class="text">
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw
            </span>
        </span>
    </div>
</div>
<div class="dropmenu" data-toggle="dropmenu" data-direction="top">
    <button type="button" class="btn primary">Dropmenu Top</button>
    <div class="msg">
        <img src="../../img/avater.jpg" alt="">
        <span class="cotn">
            <span class="headline">George Clooney</span>
        <span class="text">
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw
            </span>
        </span>
    </div>
</div>
<div class="dropmenu" data-toggle="dropmenu" data-direction="topleft">
    <button type="button" class="btn primary">Dropmenu Topleft</button>
    <div class="msg">
        <img src="../../img/avater.jpg" alt="">
        <span class="cotn">
            <span class="headline">George Clooney</span>
        <span class="text">
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw
            </span>
        </span>
    </div>
</div>
<div class="dropmenu" data-toggle="dropmenu" data-direction="topright">
    <button type="button" class="btn primary">Dropmenu Topright</button>
    <div class="msg">
        <img src="../../img/avater.jpg" alt="">
        <span class="cotn">
            <span class="headline">George Clooney</span>
        <span class="text">
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw
            </span>
        </span>
    </div>
</div>
<hr>
<div class="dropmenu" data-toggle="dropmenu" data-trigger="mouseenter">
    <button type="button" class="btn primary">
        Dr.Who
        <span class="badge">3</span>
    </button>
    <div>
        <ul>
            <li>
                <a href="javascript:;" class="btn fullwidth text-left">个人中心</a>
            </li>
            <li>
                <a href="javascript:;" class="btn fullwidth text-left">设置</a>
            </li>
            <li>
                <a href="javascript:;" class="btn fullwidth text-left">
                    信息
                    <span class="badge">5</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="btn fullwidth text-left">登出</a>
            </li>
        </ul>
    </div>
</div>
<div class="dropmenu" data-toggle="dropmenu" data-direction="right" data-trigger="mouseenter">
    <button type="button" class="btn primary arrow">Dropmenu right</button>
    <div class="msg">
        <img src="../../img/avater.jpg" alt="">
        <span class="cotn">
            <span class="headline">George Clooney</span>
        <span class="text">
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw
            </span>
        </span>
    </div>
</div>
<div class="dropmenu" data-toggle="dropmenu" data-direction="left" data-trigger="mouseenter">
    <button type="button" class="btn primary">Dropmenu Left</button>
    <div class="msg">
        <img src="../../img/avater.jpg" alt="">
        <span class="cotn">
            <span class="headline">George Clooney</span>
        <span class="text">
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw
            </span>
        </span>
    </div>
</div>
<div class="dropmenu" data-toggle="dropmenu" data-direction="top" data-trigger="mouseenter">
    <button type="button" class="btn primary">Dropmenu Top</button>
    <div class="msg">
        <img src="../../img/avater.jpg" alt="">
        <span class="cotn">
            <span class="headline">George Clooney</span>
        <span class="text">
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw
            </span>
        </span>
    </div>
</div>
<div class="dropmenu" data-toggle="dropmenu" data-direction="topleft" data-trigger="mouseenter">
    <button type="button" class="btn primary">Dropmenu Topleft</button>
    <div class="msg">
        <img src="../../img/avater.jpg" alt="">
        <span class="cotn">
            <span class="headline">George Clooney</span>
        <span class="text">
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw
            </span>
        </span>
    </div>
</div>
<div class="dropmenu" data-toggle="dropmenu" data-direction="topright" data-trigger="mouseenter">
    <button type="button" class="btn primary">Dropmenu Topright</button>
    <div class="msg">
        <img src="../../img/avater.jpg" alt="">
        <span class="cotn">
            <span class="headline">George Clooney</span>
        <span class="text">
                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw
            </span>
        </span>
    </div>
</div>
<h5>HTML</h5>
<xmp>
````
<div class="dropmenu" data-toggle="dropmenu">
    <*> ... </*>
    <div> ... </div>
</div>
````
</xmp>
<h5>通过 data 属性</h5>
<xmp>
````
<div class="dropmenu" data-toggle="dropmenu" data-direction="top" data-trigger="mouseenter"></div>
data-direction="left"
data-direction="right"
data-direction="top"
data-direction="topleft"
data-direction="topright"
data-trigger="mouseenter"
````
</xmp>
</div>
