<div class="content" id="grade">
<h4>Grade 实例：</h4>
<div>
    <div class="grade">
        <input type="hidden" name="">
        <span data-grade="1"></span>
        <span data-grade="2"></span>
        <span data-grade="3"></span>
        <span data-grade="4"></span>
        <span data-grade="5"></span>
    </div>
</div>
<div>
    <div class="grade heart">
        <input type="hidden" name="">
        <span data-grade="1"></span>
        <span data-grade="2"></span>
        <span data-grade="3"></span>
        <span data-grade="4"></span>
        <span data-grade="5"></span>
    </div>
</div>
<h5>HTML</h5>
<xmp>
````
<div class="grade">
    <input type="hidden"/>
    <span data-grade="1"></span>
    <span data-grade="2"></span>
    <span data-grade="3"></span>
    <span data-grade="4"></span>
    <span data-grade="5"></span>
</div>
````
</xmp>
</div>
