<div class="content" id="tabs">
<h4>Tabs 实例：</h4>
<div class="tabs" data-toggle="tab">
    <div class="tab-list">
        <button type="button" class="btn">选项卡1</button>
        <button type="button" class="btn">选项卡2</button>
        <button type="button" class="btn">选项卡3</button>
    </div>
    <div class="tab-context">
        <div>
            <h4>这是选项卡1：</h4>
            <p>你好，选项卡1的内容</p>
            <p>你好，选项卡1的内容</p>
            <p>你好，选项卡1的内容</p>
        </div>
        <div>
            <h4>这是选项卡2：</h4>
            <p>你好，选项卡2的内容</p>
            <p>你好，选项卡2的内容</p>
            <p>你好，选项卡2的内容</p>
            <p>你好，选项卡2的内容</p>
            <p>你好，选项卡2的内容</p>
            <p>你好，选项卡2的内容</p>
            <p>你好，选项卡2的内容</p>
            <p>你好，选项卡2的内容</p>
            <p>你好，选项卡2的内容</p>
            <p>你好，选项卡2的内容</p>
        </div>
        <div data-url="/part/checkbox.html"></div>
    </div>
</div>
<h5>HTML</h5>
<xmp>
````
<div class="tabs" data-toggle="tab">
    <div class="tab-list">
        <button type="button" class="btn">xxxx</button>
    </div>
    <div class="tab-context">
        <div> ... </div>
        <div data-url=""> ... </div>
    </div>
</div>
````
</xmp>
</div>
