<div class="content" id="testaera">
    <h4>Test Aera</h4>
    <div class="row">
        <!-- <div class="col-12">
            <div data-toggle="domark" data-style="2" data-userId="123">
                <img src="img/card.jpg" data-src="img/card.jpg" width="80" height="80" alt="">
                <img src="img/card2.jpg" data-src="img/card2.jpg" width="80" height="80" alt="">
                <button type="button" class="btn blue">打码</button>
                <input type="hidden" name="" value="">
            </div>
        </div> -->
        <!-- <div class="markbox">
            <div class="mark-content">
                <canvas id="canvas"></canvas>
                <button type="button" class="mark-prev">&nbsp;</button>
                <button type="button" class="mark-next">&nbsp;</button>
            </div>
        </div> -->
        <!-- <div class="col-12 imgbox">
            <img src="../../img/1.jpg" alt="" width="80" height="80">
            <img src="../../img/2.jpg" alt="" width="80" height="80">
            <img src="../../img/3.jpg" alt="" width="80" height="80">
            <img src="../../img/avater.jpg" alt="" width="80" height="80">
            <img src="../../img/ip7.jpg" alt="" width="80" height="80">
        </div> -->
        <!-- <div class="col-12">
            <div class="img-box">
                <div class="imgbox-content">
                    <img src="../../img/1.jpg" alt="">
                    <button type="button" class="imgbox-prev">&nbsp;</button>
                    <button type="button" class="imgbox-next">&nbsp;</button>
                </div>
                <div class="imgbox-opera">
                    <div class="imgbox-btn">
                        <button type="button">放大</button>
                        <button type="button">正常</button>
                        <button type="button">缩小</button>
                    </div>
                    <ul class="imgbox-list">
                        <li class="hover"><img src="../../img/1.jpg" alt=""></li>
                        <li><img src="../../img/1.jpg" alt=""></li>
                        <li><img src="../../img/1.jpg" alt=""></li>
                        <li><img src="../../img/1.jpg" alt=""></li>
                        <li><img src="../../img/1.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="col-12">
            <span id="liveshow">live1</span>
            <input type="text" name="ccc" value="live1" class="ltolive">
        </div>
    </div>
</div>
