<div class="content" id="tip">
    <h4>Tip</h4>
    <p>
        the wheels of the <span class="tip-top-right tip-always" aria-label="train">train</span> go round and round,clickety clack clickefy clack,the wheels of the train go round and round,clickety clack clickefy clack,the engineer toots his horn,tools his horn toots his horn,the engineer toots his horn,toots his horn,the crossing gates come right down,come right down come right down,the crossing gates come right down,come right down,the people on the train get bumped around,bumped around bumped around,the <span class="tip-bottom tip-always" aria-label="people">people</span> on the train get bumped around,bumped around
    </p>
    <h5>通过class调用</h5>
<xmp>
````
class="tip-top"
class="tip-top-right"
class="tip-top-left"

class="tip-bottom"
class="tip-bottom-right"
class="tip-bottom-left"

class="tip-right"
class="tip-right"

class="tip-xxx tip-always"
````
</xmp>
</div>
