<div class="content" id="toast">
<h4>Toast 实例：</h4>
<button type="button" class="btn primary notics">显示</button>
<button type="button" class="btn primary notics" data-v="success">success</button>
<button type="button" class="btn primary notics" data-v="warning">warning</button>
<button type="button" class="btn primary notics" data-v="info">info</button>
<button type="button" class="btn primary notics" data-v="error">error</button>
<h5>通过 JavaScript 调用</h5>
<xmp>
````
$.fn.toast({
    text: '这是一条提示消息',
    type: 'success',
    auto: false
})
````
</xmp>
</div>
