<div class="content" id="toggle">
<h4>Toggle</h4>
<label class="toggle">
    <input type="checkbox" checked required>
    <span class="toggle-indicator"></span>
    <span class="toggle-description">启用钩子</span>
</label>
<hr>
<label class="toggle">
    <input type="checkbox" required>
    <span class="toggle-indicator"></span>
    <span class="toggle-description">启用钩子</span>
</label>
<hr>
<label class="toggle disabled">
    <input type="checkbox" required>
    <span class="toggle-indicator"></span>
    <span class="toggle-description">启用钩子</span>
</label>
<h5>HTML</h5>
<xmp>
````
<label class="toggle">
    <input type="checkbox">
    <span class="toggle-indicator"></span>
    <span class="toggle-description">启用钩子</span>
</label>
````
</xmp>
</div>
