<div class="content" id="ui">
    <h4>UI</h4>
    <h5>Input</h5>
    <div>
        <input type="text" name="" placeholder="Inactive">
        <input type="text" name="" value="Error" class="error">
        <input type="text" name="" value="Disabled" disabled>
        <input type="text" name="" value="Readonly" readonly>
    </div>
    <h5>Button</h5>
    <div class="row btns">
        <div class="col-3">
            <button class="btn outline">Button</button>
            <button class="btn primary outline">Button</button>
            <button class="btn secondary outline">Button</button>
            <button class="btn success outline">Button</button>
            <button class="btn info outline">Button</button>
            <button class="btn warning outline">Button</button>
            <button class="btn danger outline">Button</button>
            <button class="btn dark outline">Button</button>
            <button class="btn dark outline disabled">Button</button>
        </div>
        <div class="col-3">
            <button class="btn primary">Button</button>
            <button class="btn secondary">Button</button>
            <button class="btn success">Button</button>
            <button class="btn info">Button</button>
            <button class="btn warning">Button</button>
            <button class="btn danger">Button</button>
            <button class="btn dark">Button</button>
            <button class="btn primary disabled">Disabled</button>
        </div>
        <div class="col-3">
            <button class="btn primary spot">Button</button>
            <button class="btn secondary spot">Button</button>
            <button class="btn success spot">Button</button>
            <button class="btn info spot">Button</button>
            <button class="btn warning spot">Button</button>
            <button class="btn danger spot">Button</button>
            <button class="btn dark spot">Button</button>
            <button class="btn primary spot disabled">Disabled</button>
        </div>
        <div class="col-3">
            <button class="btn primary">
                <span class="icon-3d_rotation"></span>
                Button
            </button>
            <button class="btn secondary">
                <span class="icon-ac_unit"></span>
                Button
            </button>
            <button class="btn success">
                <span class="icon-alarm"></span>
                Button
            </button>
            <button class="btn info">
                <span class="icon-access_alarms"></span>
                Button
            </button>
            <button class="btn warning">
                <span class="icon-schedule"></span>
                Button
            </button>
            <button class="btn danger">
                <span class="icon-accessibility"></span>
                Button
            </button>
            <button class="btn dark">
                <span class="icon-account_balance"></span>
                Button
            </button>
            <button class="btn dark disabled">
                <span class="icon-account_balance"></span>
                Button
            </button>
        </div>
    </div>
    <h5>Table</h5>
    <table class="table table-border table-hover">
        <thead>
            <tr>
                <th>标题1</th>
                <th>标题2</th>
                <th>标题3</th>
                <th>标题4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>*</th>
                <th>*</th>
                <th>*</th>
                <th>*</th>
            </tr>
        </tfoot>
    </table>
    <br>
    <table class="table table-border table-center">
        <thead>
            <tr>
                <th>标题1</th>
                <th>标题2</th>
                <th>标题3</th>
                <th>标题4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-border table-right">
        <thead>
            <tr>
                <th>标题1</th>
                <th>标题2</th>
                <th>标题3</th>
                <th>标题4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="table-responsive">
        <table class="table table-border">
            <thead>
                <tr>
                    <th>响应式表格</th>
                    <th>响应式表格</th>
                    <th>响应式表格</th>
                    <th>响应式表格</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格</td>
                    <td>响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格</td>
                    <td>响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格</td>
                    <td>响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格</td>
                </tr>
                <tr>
                    <td>响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格</td>
                    <td>响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格</td>
                    <td>响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格</td>
                    <td>响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格响应式表格</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-4">
            <h5>Headings</h5>
            <h1>Header 1</h1>
            <h2>Header 2</h2>
            <h4>Header 3</h4>
            <h5>Header 4</h5>
            <h5>Header 5</h5>
            <h6>Header 6</h6>
            <h5>着重</h5>
            <strong>66666666</strong>
            <h5>地址</h5>
            <address>地址</address>
            <h5>引用</h5>
            <blockquote>引用</blockquote>
            <h5>基本缩略语</h5>
            <abbr title="attribute">attr</abbr>
        </div>
        <div class="col-4 md">
            <h5>Range</h5>
            <input type="range">
            <h5>Text Box</h5>
            <p><strong>Look</strong>, just because I don't be givin' no man a <a href="javascript:;">foot</a> massage don't make it right for Marsellus to throw</p>
            <h5>被删除的文本</h5>
            <del>1111111111111111111</del>
            <h5>无用文本</h5>
            <s>2222222222222</s>
            <h5>插入文本</h5>
            <ins>3333333</ins>
            <h5>斜体</h5>
            <em>77777777777</em>
            <h5>带下划线的文本</h5>
            <u>444444444444</u>
            <h5>小号文本</h5>
            <small>5555555555555</small>
        </div>
        <div class="col-4 col-p">
            <h5 class="text-center">Colors</h5>
            <p class="primary">primary</p>
            <p class="secondary">secondary</p>
            <p class="success">success</p>
            <p class="info">info</p>
            <p class="warning">warning</p>
            <p class="danger">danger</p>
            <p class="light">light</p>
            <p class="grey">grey</p>
            <p class="dark">dark</p>
        </div>
    </div>
</div>
