.city {
    position: relative;
    display: inline-block;
    & .city-title {
        @include inputStyle;
        width: pxToRem(165px);
        white-space: nowrap;
        text-overflow: ellipsis;
        &:hover {
            border-color: $primary;
        }
        & .ripple {
            background-color: rgba($primary, .6);
        }
    }
    & .city-content {
        position: absolute;
        margin-top: pxToRem(2px);
        z-index: 2;
        min-width: pxToRem(300px);
        background-color: $white;
        visibility: hidden;
        @include borderRadius;
        @include divider;
        @include boxShadow;
        & > div {
            overflow-x: hidden;
            overflow-y: auto;
            padding: pxToRem(5px);
            float: left;
            display: block;
            width: 33.3%;
            height: pxToRem(150px);
            border-right: 1px solid $light;
        }
        & > div:last-child {
            border-right-width: 0;
        }
        & span {
            display: block;
            padding: pxToRem(6px);
            color: $secondary;
            cursor: pointer;
            @include borderRadius;
            &:hover {
                color: $primary;
            }
            &.active {
                color: $white;
                background-color: $primary;
            }
        }
    }
    &.dismiss .city-content {
        @include mainAniOut;
    }
    &.active .city-content {
        @include mainAniIn;
    }
    &.active .city-title {
        border-color: $primary;
    }
    &.error .city-title {
        @include error;
    }
}

@media (max-width: 34em) {
    .citys .city-content {
        position: fixed;
        top: pxToRem(30px);
        right: pxToRem(30px);
        bottom: pxToRem(30px);
        left: pxToRem(30px);
        z-index: 8;
        margin: auto;
    }
}
