@font-face {
    font-family: $iconFamily;
    src: url("./fonts/icomoon.eot?-gn306z");
    src: url("./fonts/icomoon.eot?#iefix-gn306z") format("embedded-opentype"), url("./fonts/icomoon.woff?-gn306z") format("woff"), url("./fonts/icomoon.ttf?-gn306z") format("truetype"), url("./fonts/icomoon.svg?-gn306z#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
